/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap/scss/bootstrap";

// ハンバーガーメニュー-----------------------

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0); // 枠線削除
  outline: none;  // クリック時の枠線削除
}
//三本線の調整　cf　https://www.konnect-kollect.info/bootstrap4-hamburger-menu-customize.html https://knowledge.cpi.ad.jp/tech/buggermenu-edit/
.navbar-toggler .navbar-toggler-icon { 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


// -----------------------ハンバーガーメニュー//




// メッセージ一覧
 #message-container {
   max-width: 768px;
   margin: 0 auto;
   padding: 1rem 1rem 8rem 1rem;
 }
 
 // メッセージ投稿フォーム
 footer {
   max-width: 768px;
   padding: 1rem;
   margin: 0 auto;
   background-color: white;
 }
 // max-width
 .mw-md {
   max-width: 576px;
 }
 // ***** 以下を追加 *****
 .mw-xl {
   max-width: 1200px;
 }

 

 //--- html.erbにスタイル指定をしている箇所のためのテスト場所----//
 .color-test {
  color:#007bff       ;
  background: linear-gradient(#007bff63, #007bff63)     ;
 }

 // ボタン無効化時のスタイル
.btn-primary.disabled {
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: auto;
}

// ユーザーがフォームサイズを自由に変更できる機能を停止させておく
#message_content {
  resize: none;
}